<!DOCTYPE html>
<html ng-app="TodoApp">
  <head>
    <title>'ToDo App'</title>
    <link rel="stylesheet" href="../app/css/main.css">
  </head>
  <body>
    <div ng-controller="TodoAppController">
      <form name="taskFrm" ng-submit="addTodo()">
        <input type="text" placeholder="Add things to do" class="input-form" ng-model="newTodo" required />
        <button class="btn" type="submit" ng-disabled="taskFrm.$invalid">Submit</button>
      </form>
      <button type="button" ng-click="clearTodo()">Clear</button>
      <ul>
        <li ng-repeat="task in tasks track by $index">
          <span ng-class="{'done':todo.done}">{{task.title}}</span>
          <input type="checkbox" ng-model="todo.done">
        </li>
      </ul>
    </div>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>